[submodule "postgis"]
	path = postgis
	url = https://github.com/joshbrooks/docker-postgis

[submodule "simplewms"]
	path = simplewms
	url = https://github.com/joshbrooks/docker-simplewms

[submodule "tilestache"]
	path = tilestache
	url = https://github.com/joshbrooks/docker-tilestache
