{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block script %}
    {{ block.super }}
    <link rel="stylesheet" href='{% static "leaflet/dist/leaflet.css" %}'/>
    <!--<script src='{% static "leaflet/dist/leaflet.js" %}'></script>-->
    <!--<script src='{% static "leaflet/leaflet.utfgrid.js" %}'></script>-->
    <!--<script src='{% static "leaflet/leaflet.ajax.min.js" %}'></script>-->
    <!--<script src='{% static "leaflet/leaflet.wms.js" %}'></script>-->
    <script src='{% static "leaflet-location-setter.js" %}'></script>

{% endblock script %}
{% block style %}
    <style>
        #map {height: 360px;}
    </style>
{% endblock style %}
{% block containerclass %}"container-fluid"{% endblock %}
{% block content %}
    {% if not Districts %}
        Help
    {% else %}
        <p>Districts {{ Districts }}</p>
    {% endif %}
    <ol class="breadcrumb">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">District<span
                    class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">{% for i in Districts %}
                <li data-path="{{ i.path }}" data-envelope={{ i.leafletextent }}><a
                        href="#">{{ i.name }} {{ i.path }}</a></li>{% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false">Subdistrict<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">{% for i in Subdistricts %}
                <li data-path="{{ i.path }}" data-envelope={{ i.leafletextent }}><a
                        href="#">{{ i.name }} {{ i.path }}</a></li>{% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Suku<span
                    class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">{% for i in Sucos %}
                <li data-path="{{ i.path }}" data-envelope={{ i.leafletextent }}><a
                        href="#">{{ i.name }} {{ i.path }}</a></li>{% endfor %}
            </ul>
        </li>
    </ol>


    <div class="row">
        <div class="col-md-12">
            <h2>{% trans 'Geographic Information' %}</h2>
            <p> Belun's Geographic Information System (GIS)</p>
            <div id="map" class="col-lg-12 col-md-12 col-sm-12"></div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <form action="/rest/nhdb/projectprojectplace/23333/" method="POST" class="form-horizontal">
                    <fieldset>
                        <input type="hidden" name="csrfmiddlewaretoken" value="XNHLl9MgUWeA7L8F6GSxwt6GYDlXEKdM">
                        <div class="form-group">
                            <label for="id__content_type" class="col-sm-2 control-label">Media type:</label>
                            <div class="col-sm-10">
                                <select id="id__content_type" name="_content_type" class="form-control">
                                    <option value="application/json" selected="selected">application/json</option>
                                    <option value="application/x-www-form-urlencoded">
                                        application/x-www-form-urlencoded
                                    </option>
                                    <option value="multipart/form-data">multipart/form-data</option>
                                </select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id__content" class="col-sm-2 control-label">Content:</label>
                            <div class="col-sm-10">
                                <textarea cols="40" id="id__content" name="_content" rows="10" class="form-control">{}</textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-primary js-tooltip" name="_method" value="PUT"
                                    data-original-title="Make a PUT request on the Project Project Place Viewset Instance resource">
                                PUT
                            </button>
                            <button class="btn btn-primary js-tooltip" name="_method" value="PATCH"
                                    data-original-title="Make a PATCH request on the Project Project Place Viewset Instance resource">
                                PATCH
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
