{% extends "object_list.html" %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

 {% block style %}
{{block.super}}
        <link rel="stylesheet" href='{% static "font-awesome.min.css" %}'>
        <link rel="stylesheet" href='{% static "summernote/dist/summernote.css" %}'>
{% endblock style %}

{% block script %}

    {{block.super}}
        <!--Loaded from fundingoffer_list for summernote integration-->
        <script src='{% static "summernote/dist/summernote.min.js" %}'></script>
{% endblock %}

{% block tab_first %}
<div class="row">
    <div class="col-lg-12 col-sm-12" >
        {% include "donormapping/alert-welcome-donormapping-list.html" %}
    </div>
    <div class="col-lg-12 col-sm-12" >
        <img width="20%" src='{% static "logo/oxfam_logo_trans.png" %}'>
        <img width="50%" src='{% static "logo/belun_en.png" %}'>
    </div>
</div>
{% endblock tab_first %}
{% block tab_second %}

    <button class="btn btn-default btn-sm" type="button" data-autohide="false" data-toggle="offcanvas" data-target="#search-form-container" data-placement="left"><span class="glyphicon glyphicon-edit"></span>Search</button>

    <div id="search-form-container" class="offcanvas navmenu navmenu-default navmenu-fixed-left">
        <button class="btn btn-default btn-block" type="button" data-toggle="offcanvas" data-target="#search-form-container">&laquo;Hide</button>

        <form class="search-form form-horizontal">
            <div class="container-fluid">
                <div class="row">
                    <!--<div class="col-sm-12">-->
                        <!--<a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Filter Projects</strong></a>-->
                    <!--</div>-->


        <div class="form-group">
            <label for="search-form-activities" class="col-sm-3 control-label">Activities</label>
            <div class="col-sm-9">
                <select style="width:100%;" id="search-form-activities" class="auto-select2" name="q" multiple=multiple>{% for a in filters.act %}
                    <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="search-form-beneficiaries" class="col-sm-3 control-label">Beneficiaries</label>
            <div class="col-sm-9">
                <select style="width:100%;" id="search-form-beneficiaries" class="auto-select2" name="q" multiple=multiple>{% for a in filters.ben %}
                    <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="search-form-sectors" class="col-sm-3 control-label">Sectors</label>
            <div class="col-sm-9">
                <select style="width:100%;" id="search-form-sectors" class="auto-select2" name="q" multiple=multiple>{% for a in filters.inv %}
                    <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="search-form-district" class="col-sm-3 control-label">District</label>
            <div class="col-sm-9">
                <select style="width:100%;" id="search-form-district" class="auto-select2" name="q" multiple=multiple>{% for a in filters.district %}
                    <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                </select>
            </div>
        </div>
            <div class="clearfix"></div>
        <div class="col-sm-12">
        <label class="radio-inline">
        <input type="checkbox" name="expired" id="inlineRadio1" value="True" {% if "active.true" in activefilters %} checked=checked {%endif %}> Include expired offers
        </label>
        </div>

        <button class="btn btn-block">Search</button>

        </div>
        </div>
        </form>
        </div>

    <div>

        {% render_table table %}
    </div>

{% endblock %}
