{% load i18n %}
<div role="navigation" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button data-target="#login-bar" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="/" class="navbar-brand">{% trans "Home" %} </a>
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Projects and Organizations" %}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'nhdb:project:list' %}">{% trans "Projects" %} </a></li>
                  <li><a href="{% url 'nhdb:organization:list' %}">{% trans "Organizations" %} </a></li>
                </ul>
              </li>

            <li><a href="{% url 'library:publication:list' %}">{% trans "Library" %} </a></li>
            <li class="active"><a href="{% url 'donormapping:fundingoffer:list' %}">{% trans "Donor Funding" %} </a></li>
        </ul>
    </div>

      <form class="navbar-form navbar-right" role="form" action="{% url 'set_language' %}" method="post" autocomplete="off">{%csrf_token%}{% get_language_info_list for LANGUAGES as languages %}{% for language in languages %}{% if language.code != request.LANGUAGE_CODE %}
          <button name="language" class="btn btn-default" style="border-width:0; padding:2px;" value="{{ language.code }}"><img style="width:40px; height:20px; filter:gray; filter:grayscale(1); -webkit-filter: grayscale(1)" src="{% static 'locales/{{ language.code }}.png' %}" alt="Change to tet"></button>{% else %}
          <button name="language" class="btn btn-success" style="border-width:0; padding:2px;" value="{{ language.code }}"><img style="width:40px; height:20px;" src="{% static 'locales/{{ language.code }}.png' %}" alt="Change to tet"></button>{% endif %}{% endfor%}
      </form>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->

