{% load i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{%block metadescription%} {%endblock%}">
      <meta name="author" content="Joshua Brooks">
      <title>{%block title%} {% trans "Timor-Leste Data Center" %} {%endblock title%}</title>
{% block script %}
      <script src="{% static 'require.js' %}" data-main="{% static 'bootstrap_require.js' %}"></script>
{% endblock script %}
      <link href="{% static '/jqueryui/css/ui-lightness/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
      <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <style>
        form#changelanguage label > input{ /* HIDE RADIO */
          display:none;
        }
        form#changelanguage label > input + img{ /* IMAGE STYLES */
          cursor:pointer;
          border:2px solid transparent;
        }
        form#changelanguage label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
          border:2px solid #FFA500;
          border-radius:1px;
        }
        
      </style>
      {% block style %} {% endblock style %}
  </head>
  <body>
{% block navbar %}{% include "nhdb/new_project_search/navbar.html" %}
{% endblock navbar %}
{% block body %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
{% endblock body %}
  </body>
</html>
