{% extends 'nhdb/new_project_search/base.html' %}
{% load i18n %}


{% block script %}{% if p %}
  <script src="{{ STATIC_URL }}require.js" data-main="/require.project.js"></script>{% endif%}
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/selectize.js/dist/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/zebra/default.css">
<style>
input.property-add, input.property-remove {
  width: 0px;
  display:none;
}

input.property-add:checked + label:after {
content: "";
width: 20px;
height: 20px;
background:url("{{ STATIC_URL }}images/add.png");
display: inline-block;
}

input.property-remove:checked + label:after {
content: "";
width: 20px;
height: 20px;
background: url("{{ STATIC_URL }}images/edit-delete.png");
display: inline-block;
}
        

input.property-add + label {
  color: #7F7F7F;
}
input.property-remove + label {
  color: #000000;
}

input.property-remove:checked + label {
  color: #FF0000;
}

input.property-add:checked + label {
  color: #000000;
}

#map {
  height: 400px;
  width: 100%;
}
</style>

{% endblock style %}
{% block body %}
{% csrf_token %}
<input type="hidden" name="project" value="{{p.pk}}">
    
    <div class="container">

      {% if p.id %} 
      {% include "nhdb/new_project_search/div-project-more.html" %}{% else%}
      {% include "nhdb/new_project_search/div-project-new.html" %}{% endif %}
    </div>


</body>
{% endblock body %}
</html>
