{% extends 'nhdb/new_project_search/base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block script %}
  <script src="{% static 'require.js' %}" data-main="/require.project.js"></script>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'datatables/media/css/dataTables.bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/selectize.js/dist/css/selectize.bootstrap3.css' %}">
    <link rel="stylesheet" href="{% static '/css/zebra/default.css' %}">

{% endblock style %}
{% block body %}
{% csrf_token %}
<input type="hidden" name="project" value="{{p.pk}}">
    
    <div class="container">
      {% include "nhdb/new_project_search/div-project-detail.html" %}
    </div>


</body>
{% endblock body %}
</html>
