{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href='{% static "leaflet/dist/leaflet.css" %}'>
    <link rel="stylesheet" href="/place_select_widget/place_select_widget.css">
    <title>National Humanitarian / Development Project Database</title>
    <link href='{% static "/jqueryui/css/ui-lightness/jquery-ui-1.10.4.min.css" %}' rel="stylesheet">
    <link href='{% static "/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
</head>
  <body>
{% get_language_info_list for LANGUAGES as languages %}{% for language in languages %}
<form class="navbar-form navbar-right" role="form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
<input type="hidden" name="language" value="{{ language.code }}">{% if language.code == request.LANGUAGE_CODE %}
<button class="btn btn-primary">{%else%}
<button class="btn btn-default">{% endif %}
  <img style="width:40px; height:20px;" src="{{ STATIC_URL }}locales/{{language.code}}.png" alt="Change to {{language.code}}"></img></button>
</form>
{% endfor %}
   <table>
    <caption>Translations</caption>
    <thead>
      <tr><th>Natural</th><th>Translation to current language</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>This is an example.</td><td>{% trans "This is an example" %}</td>
      </tr>
      <tr>
        <td>"All sectors"</td><td>{% trans "All sectors" %}</td>
      </tr>
      <tr>
        <td>Organization</td><td>{% trans "Organization" %}</td>
      </tr>
      <tr>
        <td>Project</td><td>{% trans 'Project' %}</td>
      </tr>
        {% for i in trans_list %}
      <tr><td>{{i}}</td><td>{% trans i %}</td></tr>
      {% endfor %}
      </tbody>
   </table>
   
</body>
</html>
