{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block content %}

<div>
    <div class="container" style="background-color:rgba(256,256,256,0.7); border-radius:20px;">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-sm-12 col-sm-12">
                <img src="{% static '/logo/banner.png' %}" style="width:100%">

                <h1>Kona ba Ami</h1>

                <h3>Kontaktu Ami</h3>

                <p>Kontaktu belun ho sujestaun-sira ka informasaun extra <a href="http://belun.tl">liu-husi sitiu Belun</a>, ka ami nia
                    <a href="https://www.facebook.com/pages/Belun/135284543226407">Pajina
                    facebook.</a>.
                     Karik ita hakarak halo sujestaun hodi aumenta ba iha sentrru de dadus, bele kontaktu
                    Joshua Brooks iha <strong>josh.vdbroek@gmail.com</strong> ka <strong>admin@timordata.info</strong></p>

                <p>Informasaun klaru kona-ba sitiu nee, bele kontaktu
                    Joshua Brooks iha <strong>josh.vdbroek@gmail.com</strong> ka <a href="http://belun.tl">liu husi sitiu Belun</a>, ka ami nia
                    <a href="https://www.facebook.com/pages/Belun/135284543226407">Pajina
                    facebook.</a>

                <p>Atu hatene informasaun liu-liu kona-ba projetu sira ka informasaun organizasaun husi NHDB nee,
bele kontaktu Eugenia Alves iha <strong>eugenia.belun@gmail.com</strong></p>

                <p>Informasaun klaru kona-ba biblioteka, bele kontaktu Debbie Chia iha <strong>debbie.chia@asiafoundation.org</strong></p>

                <h3>Kona-ba Sentru Dadus nian.</h3>

                <p>Sentru dadus Timor-Leste nian dezenvolve ona husi rede ONG ida ne’ebe konsiste husi Belun,

Fundasaun Alola, Fundasaun Mahein, Fongtil no Fundasaun Azia.  Ida ne’e hanesan muzeum husi

projetu, peskija no informasaun doadores ba publiku iha Timor-Leste.</p>
                <ol>
                    <li><strong>Baze-dadus Nasional Nian kona-ba Humanidade.</strong>

                        <p><a href="https://timordata.info/nhdb/project/">https://timordata.info/nhdb/project</a>
                            ka <a href="https://timordata.info/nhdb/organization/">https://timordata.info/nhdb/organization</a><br>
                            Buka kona-ba organizasaun no projetu sira iha Timor-Leste</p>
                    </li>
                    <li>
                        <strong>Biblioteka online</strong>

                        <p><a href="https://timordata.info/library/publication/">https://timordata.info/library/publication/</a><br>
                          Ho kontinuasaun suporta husi agensia dezenvolvimentu balu no ONG sira, ami sempre

aumenta ba biblioteka online kona-ba peskija, media imprensa, dokumentus ba programa

sira ne’ebe relevante ba Timor-Leste.
                        </p>
                    </li>
                    <li>
                        <strong>Mapa Baze-dadus ba doadór-sira.</strong>

                        <p><a href="https://timordata.info/donormapping/fundingoffer/list/">https://timordata.info/donormapping/fundingoffer/list</a><br>
                         Buka baze-dadus ida ne’e kona-ba oportunidade fundus ne’ebe disponivel no instrusaun-

sira kona-ba oinsa atu aplika.
                        </p>
                    </li>
                </ol>

                <h3>Parseiru-sira</h3>

                <p>Obrigadu barak ba <strong>Gibrael Carocho</strong> ba servisu arte ne’ebe uza iha sitiu ne'e. bele
                    kontaktu Gabrael iha <a href="mailto:aziby.dias216@gmail.com">aziby.dias216@gmail.com</a> ka numeru
                    +670 78003686</p>

                <p>
                    Ekipa ba sentu dadus nian hakarak rekuinese the Australian Government hodi suporta dezenvolvimentu
                    kona-ba sentru dadus Timor-Leste nian</p>

                <h3>Nega</h3>

                <h4>Konteudu online ba biblioteka</h4>

                <p>
                    Lisenca fo tia ona husi autór pesoal ka organizasaun sira hodi publika peskija ne’ebe
                    disponivel
                    iha biblioteka online. Enkuantu ami esforsu hodi kontinua rai informasaun to’o agora no los,
                    ami la
                    iha responsabilidade kona-ba buat ne’ebe bele fo fiar, los ka lae ka kompletu husi
                    informasaun sitiu nian.</p>

                <p>
                    Liu-husi sitiu ne’e ita-boot sira bele asesu no download numeru balu bazeia ba publikasaun
                    peskija no media imprensa sira. Ekipa sentru dadus nian laiha kontrola kona-ba naturezaka
                    konteudu husi
                    publikasaun hirak ne’e no la implika ba rekomendasaun ruma ka apoia vista ne’ebe espresa iha
                    laran.
                </p>

                <p>
                    Ekipa sentru dadus nian enkoraja maka’as no halodidiak ba sitasaun sira no referensia.
                </p>
                <h4>Lingua</h4>

                <p>
                    Ekipa sentru dadus Timor-Leste nian hakarak atu rekuinese tradusaun interna, tradusaun
                    google no

                    tradutór Tetum (translate.tetumdili.com) hodi kapasita sitiu ida ne’ebe sei disponivel iha
                    lingua

                    Tetum, Ingles, Portugues no Indonesia.

                </p>

                <p>Tradus automatiku no ema nia tradusaun labele garante loloos, tamba nee tradusaun husi konteudu

                    sitiu nian tomak ne’e sei labele los. Sentru dadus nian sei laresponsabiliza ba buat hirak ne’ebe

                    mosu iha tradusaun ne’ebe disponivel iha tradusaun google ka tradutór Tetum.</p>

                <p>Konteudu husi relatoriu ne’e mai husi lian ingles, dadus iha sitiu ne’e halibur hamutuk ona iha forma

                    original nian ne’ebe lahare ba lingua. Hodi hili lingua ida husi menu tradusaun google nian, ema

                    ne’ebe uza sei simu implikasaun legal husi frakeza ruma ka iha tradusaun ne’ebe diferente. Sentru

                    dadus lagarante konteudu loloos ne’ebe halo ona tradusaun no la responsabiliza ba kada

                    akontesimentu ne’ebe hetan husi ema ne’ebe uza halo tradusaun. Hodi hili lingua ida husi menu

                    lingua, ema ne’ebe uza aseita hodi mantein obrigasaun hotu-hotu no buat ne’ebe aat ne’ebe bele

                    akontese ba uza nain hodi depende ba, ka uza tradusaun google nomos tradusaun Tetum.</p>

                <h3>Kontaktu Ami</h3>

                <p>
                    Karik Ita-boot iha projetu, peskija ruma ka oportunidade fundus ne’ebe ita-boot hakarak publika iha

                    sentru dadus, bele ho laran-kman kontaktu ami.</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
    {% endblock footer %}