{% extends "base.html" %}
{% load i18n %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar %}

{% block title %}NHDB History{% endblock title %}

{% block content %}
<h1> Change all of this!!!</h1>

<h1>Database Nasional ba Projetu
Humanitarian no Dezenvolvimentu Komunidade</h1>
<h2>Sumariu Database</h2>

<p>Projetu Database hanesan programa ida ne’ebé hó objetivu  Atu hametin “Kordenasaun nó komunikasaun entre sosiedade sivil, ajensia internasionais, guvernu no parserus dezenvolvimentu sira hodi alkansa seguransa umanu ne’ebé diak liu. Programa ne’e fasilita informasaun liu husi relatóriu importante rua mak hanesan; Informasaun konaba Projetus organizasaun nian no lista kontaktu ka diretotiu organizasaun detallus. Informasaun hirak ne’e kompostu husi tipu organizasaun sosiedade sivil nian mak hanesan INGO, LNGO, UN Ajensia, Bilaterais, Institutu akademiku no peskiza no Grupu komuniadade ka CBO. Husi programa database mós iha informasaun oioin konaba setores relevantes ligadu tebes hó projetu sira neébé implementa iha Timor Leste.
Ekipa servisu husi rede database sei halo distribuisaun bá informasaun durante periodu fulan tolu (3) – Relatoriu Trimestral. Iha parte seluk mós ekipa database prontu atu responde bá rekerementu ruma ne’ebé iha hodi hetan informasaun husi programa database, rekerementu ne’e sei simu bainhira deit husi benefisiarius sira.
Mekanismu seluk atu fahe informasaun mak haruka informasaun  liu husi email ou halo print out hodi fahe ba benefisiarius sira.
Programa ne’e servisu hamutuk ho Fundasaun Alola, FONGTIL nó Belun nó sai hanesan rede database,. Durante tinan 5 (7 April 2008 to’o fulan Maiu 2013) Duador ne’ebé apoiu bá programa ne’e maka organizasaun internasional hó naran<b>Trocaire
ka Caritas Irlandia.</b></p>

<h2>Prosesu database iha atividades mak hanesan</h2>

<ol type="a">
<li>Verifika nó foti dadus husi organizasaun sosiedade sivil sira nian konaba programa ou projetu sira neébé implementa iha Timor Leste</li>
<li>Responde bá cliente ka benefisiarius sira nian rekerementu ligadu hó dadus</li>
<li>Prepara dadus nó dezeña mapa ba atividades projetu sira</li>
<li>Produz relatoriu trimestral konaba diretoriu organizasaun kontaktu hó status ativu kada fulan tolu</li>
<li>Projetu Database Nasional ba desenvolvimentu komunitariu no humanitariu, NGO BELUN serbisu hamutuk NGO Forum no Fundasaun Alola hodi elabora informasaun tuir kontestu desenvolvimentu  Timor-Leste hosi parseria sosiedade sivil h doadores hosi Governu Timor-Leste, organizasaun internasionais nomos ajensia internasional ne’ebé komitmentu bo’ot ba prenxe apoiu desenvolvimentu rai laran.</li>
<li>Objetivu seluk mos atu up to date ba Database nasional hodi hato’o asistensia diak ba requerementu parseiro intermus asesu informasaun.</li>
<li>BELUN iha esperansa katak, kolaborasaun diak ho parseirus sei ajuda ba hakbi’it Instituisaun sira hodi hatan diak ba komunidade no entidades tomak nia nesesidades ba asesu informasaun.</li>
</ol>


<h2>VISAUN DATABASE</h2>


<p>Ema individual, grupu duadores no instituisaun guvernu nian assesu ona informasaun ho kualidade hodi supporta dezenvolvimentu nasional iha rai laran </p>

<h2>OBJETIVU JERAL DATABASE</h2>

<p>Hadia kordenasaun no komunikasaun entre Organizasaun sosiedade sivil, ajensia internasionais no Governu hodi alkansa seguransa humanu diak liu </p>

<h2>Saida  Mak Iha Database Nia Laran</h2>
<p>Database iha informasaun Nasional to’o nivel suco. Liu – liu Database iha informasaun konaba atividades ne’ebe lao agora ka ativu hela, atividade ne’ebe kompletu/remata ona no atividades ne’ebe sei iha faze planu nia laran
Informasaun  hirak ne’e mai husi organizasaun Lokal no Internasional, Duadores, grupu sosiedades civil nia (hanesan Igreja, grupo suco nia, parceiros Fundasaun Alola – Belun no Sst), institusaun peskiza ka akademika no husi ajensia UN
Sistema  Database akumula ona informasaun hamutuk 742 projetus husi  (INGOs + LNGOs +UN Ajensia, CBO, Institutu Acadimika, Bilaterais sira nebe iha database.

<h2>Prosesu Maneja Database</h2>
<p>Fulan-Fulan Belun simu informasaun husi Fundasaun Alola, FONGTIL, NGOs, CBOs no duadores e ajensia ruma konaba sira nia atividades.
Belun mak update DB, nomos haruka fali ba ema hotu-hotu iha format Excel. prossesu update lao fulan 3 dala ida (EX: Hasai Diretory konaba INGOs no LNGOs
Belun nia ekipa koordenadores lori informasaun distrital bebeik atu bele fahe ba DAs, DDOs, no NGOs, nomos grupu sira seluk iha baze.
Ema ne’ebe deit bele hetan Database no Belun hakarak fahe ba ema ne’ebe iha interese.

<h2>Planu no atividades Database</h2>
<p>Agora Database iha format Access iha lian Ingles, (maibe laos informasaun).  Sei halo planu oinsa atu tau informasaun hotu iha lian Tetum no Inglesh.<p>

<p>Database ne’ebe iha agora dadauk tau ona iha Internet ho formatu excel, nomos iha fatin ida (web interface) ne’ebe ema bele uza hodi jenera relatariu ho informasaun kompletu.
Ikus liu, Belun hakarak kria mapamentu ne’ebe bele reprezenta informasaun iha DB, hodi hatene situasaun dezenvolvementu diak liu.<p>

<h2>LIGASAUN HO GUVERNU</h2>
<ul>
	<li>Ita koalia ho Ministerio Planiamento ho Financeiros kona ba Database ida ne’e no sira hetan Update husi Belun kona ba Database.</li>
	<li>Belun halo desisaun, hafoin koalia ho sira, ne’ebe Belun no Ministeriu Planeamentu nia objetivu atu kria Database la hanesan, ita lao nafatin ho ita nia Database,
		maibe sempre fahe informasaun ho Guvernu. Ministeriu finansa hakarak Belun nia database inklui dadus ne’ebe iha hodi hare ba situasaun guvernu nian
		(database ida ne’ebe sei link ba fatin rua)</li>
	<li>To’o agora Database la tama informasaun hosi ministerio ka programa Governu ka Companhia.</li>
</ul>


<h2>Mapamentu Database</h2>
<ul>
	<li>Belun kria ona mapa ne’ebe simplis hodi reprezenta atividades projetu iha Timor Leste.</li>
	<li>Ba oin ami hakarak kria mapa ne’ebe iha informasaun kompleta liu hodi kapta desenha dezenvolvementu TL nian (sector, doadores, etc.)</li>
	<li>Informasaun database oras ne’e estabelese ona liu husi crowdmap, ita bele vizita iha <a href="https://projetutl.crowdmap.com">CrowdMap</a></li>
</ul>
{% endblock %}
