{% extends "index.html" %}
{% load i18n %}

{% block jumbotron %}
<div class="jumbotron"  style="margin-top: 0px; margin-bottom: 0px; background-color:#8bbfe7; font-size: 80%; font-variant: small-caps; background:url('{{ STATIC_URL }}backgrounds/background3.jpg') bottom left no-repeat rgb(139, 191, 231); height:250px;">
    <div class="container">
        <h1 style="color:white; margin-top:0px, margin-bottom:0px; text-shadow:6px 6px black";><strong>{% trans 'Timor-Leste Data Center' %}</strong></h1>

    </div>
</div>
{% endblock jumbotron %}
