<div id='projectdialog' style='display:none;'>
    <div id='chooseprojectclass' class='row' style='width:605px; float:left; margin-bottom:10px;'>
        <div id='chooseorgtype' class="ui-widget-header ui-corner-all col col_10">
            <span id='orgtype'>{% for area in areas %}
                <input type='radio' data-pk={{area.pk}} id='area_{{area.pk}}' class='area_radio' name='projectype'/><label for='area_{{area.pk}}'>{{area.description}}</label>{% endfor %}
                 <input type='radio' data-pk=0 id='area_0' class='area_radio' name='projectype'/><label for='area_0'>All</label>
            </span>
        </div>
    </div>
    <div class='row' style='width:605px; float:left; margin-top:10px;'>
        <div id='chooseletter' class="ui-widget-header ui-corner-all col col_4">
            <span id='startswith'>{% for l in letters %}
                <input type='radio' id='{{l}}' class='letter_radio' name='letter'/><label for='{{l}}'><span style='font-family:monospace'>{{l}}</span></label>{% endfor %}
            </span>
                <input id='contains'></input><button id='search_contains'>Contains</button>
            </div>
        <div id='results' class="ui-widget-header ui-corner-all col col_6" style='height:150px; width:340px; overflow-x:scroll; overflow-y:scroll;'>
        </div>
    </div>
</div>
