<li id='menu_projects' class='organization' data-orgpk={{org.pk}}>Projects
    <ul>{% for po in org.projectorganization_set.all %}
        <li class='project' data-projectorganizationpk={{po.pk}}>{{ po.project.name }}
            <ul class='oclass' style='width:350px;'>{% for short, long in po.ORGANIZATION_TYPES %}
                <li class='update' data-orgtype={{short}}>Set as {{long}}</li>{% endfor %}
                <li class='remove'>Remove</li>
            </ul>
        </li>{% endfor %}
        <li class='project_add'><button>Add an existing project</button></li>
        <li><button>Make a new project</button></li>
    </ul>
</li>
