        <nav class="col_16 col">
        	<ul>
            	<li class='menu org'><a href="/nhdb/organizations/">Organizations</a></li>
                <ul class='menu org submenu'>
                    <li><a href='/nhdb/organizations/in'>International NGO</a></li>
                </ul>
                <li><a href="/nhdb/projects/">Projects</a></li>
                <li><a href="/nhdb/places/">Places</a></li>
                <li><a href="/nhdb/reports/">Reports</a></li>
            </ul>
        </nav>
