{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

 {% block style %} 
	<link href='{% static "zebra/css/bootstrap.css" %}' rel="stylesheet">
{% endblock style %}


{% block script %}
      <script src='{% static "require.js" %}' data-main='{% static "zebra_bootstrap_require.js" %}'></script>
{% endblock script %}

{% block content %}

      <script src='{% static "require.js" %}' data-main='{% static "zebra_bootstrap_require.js" %}'></script>
{% crispy form %}


<br>


{% endblock %}


