{% extends "object_list.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load cache %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}{{block.super}} Organizations {% endblock title %}
{% block script %}
    {{block.super}}
<script type="text/javascript" src="{% static 'leaflet-organizationplace.js' %}"></script>

<script>
    $(document).ready(function() {

        // Directly change the URL when the 'select' box for organization is used
        $('[name=org]').on('select2:select',  function (e) {
            window.event = e;
            console.log("select2:select", e);
            window.location.hash = 'object='+$(e.target).val();

        });


        $(document).on('click', '[data-largeimage]', function () {
            var i = $('#imagemodal');
            i.find('img').attr('src', ($(this).data('largeimage')));
            i.find('.description').text($(this).attr('alt'));
            i.modal()
        });

    });
</script>
{% endblock script %}

{% block containerclass %}container-fluid{% endblock %}


{% block objectlist %}
        <div id="object-list" class="collapse in"><div>
            <p>Note: emails are encrypted to help prevent the organizations listed from spam.</p>
    <button class="showliame">Show emails</button>
                    <div class="col col-lg-12 col-xs-12" id="actions-container">
            <a href="table/?{{ request.GET.urlencode }}" class="btn btn-default btn-sm">Contact list</a>
            <a href="xls/?{{ request.GET.urlencode }}" class="btn btn-default btn-sm">Contact list as Excel download</a>
        </div>
    {% render_table table %}</div>
</div>{% endblock %}


{% block tab_first %}
<h4>Organization Search</h4>
 <p><strong>{{object_list.count}} Organizations</strong> found with this search</p>

<div class="container-fluid">
    <div class="row">{% for category, tag_count in dashboard.items %}
        <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-3">
            <table class="table table-condensed">
                <caption>{{category}}</caption>
                <tbody>{% for tag, count in tag_count.items %}{% if tag.path in activefilters %}
                    <tr><td><strong>{{tag}}</strong></td> <td><strong>{{count}}</strong></td></tr>{% else %}
                    <tr><td>{{tag}}</td> <td>{{count}}</td></tr>{% endif %}{% endfor %}
                </tbody>
            </table>
         </div>{% endfor %}
    </div>
</div>
{% endblock %}
{% block tab_second %}

 <button class="btn btn-default btn-sm" type="button" data-autohide="false" data-toggle="offcanvas" data-target="#search-form-container" data-placement="left"><span class="glyphicon glyphicon-edit"></span>Search</button>
 <button class="btn btn-default btn-sm showliame" type="button" > Show emails</button>
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
      Download as Excel
    </button>
    <div id="search-form-container" class="offcanvas navmenu navmenu-default navmenu-fixed-left">
    <button class="btn btn-default btn-block" type="button" data-toggle="offcanvas" data-target="#search-form-container">&laquo;Hide</button>

    <form class="search-form form-horizontal">
        <div class="container-fluid">
            <div class="row">

                <div class="form-group">
                    <label for="search-form-activities" class="col-sm-3 control-label">Activities</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-activities" class="auto-select2" name="q" multiple=multiple>{% for a in filters.act %}
                            <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="search-form-beneficiaries" class="col-sm-3 control-label">Beneficiaries</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-beneficiaries" class="auto-select2" name="q" multiple=multiple>{% for a in filters.ben %}
                            <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="search-form-sectors" class="col-sm-3 control-label">Sectors</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-sectors" class="auto-select2" name="q" multiple=multiple>{% for a in filters.inv %}
                            <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="search-form-district" class="col-sm-3 control-label">Project in</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-district" class="auto-select2" name="q" multiple=multiple>{% for a in filters.district %}
                            <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="search-form-office" class="col-sm-3 control-label">Office in</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-office" class="auto-select2" name="q" multiple=multiple>{% for a in filters.org_location %}
                            <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="search-form-orgtype" class="col-sm-3 control-label">Organization Type</label>
                    <div class="col-sm-9">
                        <select style="width:100%;" id="search-form-orgtype" class="auto-select2" name="q" multiple=multiple>{% for a in filters.type %}
                            <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="search-form-text" class="col-sm-3 control-label">Text</label>
                    <div class="col-sm-9">
                        <input style="width:100%" id="search-form-text" class="form-control" name="name" value="">
                    </div>
                </div>


                <div class="clearfix"></div>

                <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" name="q" id="inlineRadio1" value="active.true" {% if "active.true" in activefilters %} checked=checked {%endif %}> Active only
            </label>
            </div>
            <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" name="q" id="inlineRadio2" value="active.false" {% if "active.false" in activefilters %} checked=checked {%endif %}> Inactive organizations only
            </label>
            </div>
            <div class="col-sm-12">
            <label class="radio-inline">
            <input type="radio" name="q" id="inlineRadio3" value="active.any" {% if "active.any" in activefilters %} checked=checked {%endif %}> Active and Inactive
            </label>
            </div>
            <button class="btn btn-block">Search</button>
            </div>
            </div>
        </form>
    </div>

{% render_table table %}


<!-- Modal -->

<div class="modal fade in" id="myModal" tabindex="-1" data-backdrop="static" data-focus-on="input:first" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Download List</h4>
  </div>
  <div class="modal-body">
      {% trans "Thanks for your interest in downloading this information!" %}
      {% trans "Please tell us how this information could help you." %}
      {% trans "This information isn't used to identify you, but only help us to make our services better." %}
      <a href="xls?{% for n, v in request.GET.items %}{{n}}={{v}}{% if not forloop.last %}&{% endif %}{% endfor %}" class="btn btn-default btn-sm">I want to skip this and download anyway</a>

      {% crispy excelform %}
      <a href="xls?{% for n, v in request.GET.items %}{{n}}={{v}}{% if not forloop.last %}&{% endif %}{% endfor %}" data-postForm="#excel-download-form" class="btn btn-sm btn-primary">Download</a>
  </div>
  <div class="modal-footer">

    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
  </div>
</div>

{% endblock %}


