{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block style %} 
	<link href="{{ STATIC_URL }}zebra/css/bootstrap.css" rel="stylesheet">
{% endblock style %}


{% block script %}
      <script src="{{ STATIC_URL }}require.js" data-main="{{ STATIC_URL }}zebra_bootstrap_require.js"></script>
{% endblock script %}

{% block content %}

      <script src="{{ STATIC_URL }}require.js" data-main="{{ STATIC_URL }}zebra_bootstrap_require.js"></script>
{% crispy form %}


<br>


{% endblock %}


