{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}



{% block style %}
<link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}"/>
<style>
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */

.like-table { display: table; }
.like-table>* { display: table-row; }

.like-table .row {
    height: 25px;}

.like-table>*>* { display: table-cell; border:1px solid #d3d3d3;}
#map {height:300px; width: 600px; border:1px solid gray;}

th span.table-vertical-header {
  padding: 0 .5em;
  writing-mode: tb-rl;
  filter: flipv fliph;
  -webkit-transform:rotate(-90deg);
  white-space:nowrap;
  display:block;
}

.vertical {
  padding: 0 .5em;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  white-space:nowrap;
  display:block;
}

.sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.sidebar .nav .nav > li > a:hover,
.sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.sidebar .nav .nav > .active > a,
.sidebar .nav .nav > .active:hover > a,
.sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}
.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .sidebar.affix-bottom .bs-docs-sidenav,
  .sidebar.affix .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}

    #projects .well {
         background-color:#ffffdd;
        border: 2px solid blue;
    }

    .leaflet-control-layers-overlays {
        overflow-y: scroll;
        max-height: 100px;
    }

    .small-flag {width:25px; margin-right:5px; top:5px; left:5px;}

</style>
{% endblock style %}


{% block script %}
     {{block.super}}
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.utfgrid.js' %}"></script>
    <script src="{% static 'leaflet/leaflet.ajax.min.js' %}"></script>
    <!--<script src="{% static 'leaflet/leaflet.wms.js' %}"></script>-->
    <script>{% autoescape off %}
        window.initialFeatures = {{initialFeatures}}

        window.rest_data = {model_pk: parseInt('{{object.pk}}'), model_repr: '{{object|escapejs}}'}

    function percentToRGB(percent) {
        if (percent === 100) {
            percent = 99
        }
        var r, g, b;

        if (percent < 50) {
            // green to yellow
            r = Math.floor(255 * (percent / 50));
            g = 255;

        } else {
            // yellow to red
            r = 255;
            g = Math.floor(255 * ((50 - percent % 50) / 50));
        }
        b = 0;

        return "rgb(" + r + "," + g + "," + b + ")";
    }

    $(function() {

        // Hide empty table columns by default

        HideEmptyColumns = function () {

            $(".empty-column").each(function () {

                var p, index, table;
                //how do i get the position of the td?
                //alert("column " + $(this).parent().children().index(this) + " is clicked")
                p = $(this).parent();
                index = p.children().index(this);
                table = $(this).parents('table:first');
                table.find('th,tr').each(function () {
                    $($(this).children()[index]).hide()

                })

            });
        };

        ShowEmptyColumns = function () {

            $(".empty-column").each(function () {

                var p, index, table;
                //how do i get the position of the td?
                //alert("column " + $(this).parent().children().index(this) + " is clicked")
                p = $(this).parent();
                index = p.children().index(this);
                table = $(this).parents('table:first');
                table.find('th,tr').each(function () {
                    $($(this).children()[index]).show()

                })

            });
        };


    var header_height = 0;


    var header_height = 0;
    $('table th span.table-vertical-header')
            .each(function() {
        if ($(this).outerWidth() > header_height) header_height = $(this).outerWidth();
        $(this).width($(this).height());
        $(this).parents('tr:first').height(header_height);
    });

});

    $(function () {
  $('[data-toggle="popover"]').popover()
});

    $(document).ready(function(){
    // Avoid loading expensive map stuff if no map info
        if (window.initialFeatures.features.length == 0){$('#map').remove(); return}

    osm = L.tileLayer('/tileserver/testing/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      maxZoom: 18
    })



    addresses = L.geoJson(window.initialFeatures, {

        onEachFeature: function(feature, layer){
			var popupContent = "<p>"+feature.properties.description+'</p><p>Phone: '+(feature.properties.phone||'No phone')  +'</p><p>Email: '+(feature.properties.email||'No email') +'</p>'

			layer.bindPopup(popupContent);
		}
    });
//
//        Requires Leaflet 0.8 or higher - coming soon
//    var source = wms.source(
//        "/wms",
//        {
//            "format": "image/jpeg",
////            "transparent": "true",
////            "attribution": "<a href='http://nationalatlas.gov'>NationalAtlas.gov</a>",
//            "tiled": false
//        }
//    );

    map = L.map('map', {
      layers: [osm, addresses],
      center: [-8.874217, 125.31006],
      zoom: 8,
      minZoom: 8
    });

    $('[data-setview]').on('click', function(){
        map.setView($(this).data('setview'), 13)
    })

    $('[data-setbounds]').on('click', function(){
        map.setView($(this).data('setbounds'))
    })

        // anotherlayer = L.geoJson(window.projectLocations).addTo(map)

//        Add individual project controls to the layers list

        var baseMaps = {'Basemap':osm}

        var overlayMaps = {}

//        for (var l in window.projectLocations.features){
//
//            // Colorbrewer type picker
//            color = percentToRGB(l/window.projectLocations.features.length * 100)
//
//
//            feature = window.projectLocations.features[l]
//
//            overlayMaps[feature.properties.name] = L.geoJson(feature, {color:color}).addTo(map)
//        }
//

        L.control.layers(baseMaps, overlayMaps).addTo(map);

})
    </script>{% endautoescape %}

    {% endblock %}
{% block content %}
<div class="row">

<div class="col col-lg-9 col-md-9">

<h3>{{object.name}} - {{object.orgtype}}<span class="small"> Organization Profile</span></h3>


{% if not object.active %}
<h4>
    This organization is inactive
</h4>

{% endif %}    <hr>


{% with object.contact as contact %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Personnel</th>
            <td>{% if object.stafffulltime %} {{object.stafffulltime}} full time staff {% if object.staffparttime %}, {{object.parttimestaff}} part time staff {% endif %}{% else %} <em>Not known</em> {% endif %}</td>
            </tr>

        <tr><th>Phone</th>
            <td>{% if contact.phoneprimary %}{{contact.phoneprimary}}
                {% if contact.phonesecondary %} / {{contact.phonesecondary}} {% endif %}{% else %} <em>Not known</em> {%endif %}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{% if contact.email %}{{contact.email}}{% else %}<em>Not known</em> {%endif %}</td>
        </tr>
        <tr><th>Address(es)</th>
            {% if object.organizationplace_set.all %}
            <td>{% for address in object.organizationplace_set.all %}{{address.description}} in {{address.locationstring}} <button type="button" class="btn btn-default btn-xs" data-setview="{{address.latlng}}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></button> {% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
            {% else %}
            <td><em>No addresses known</em></td>
            {% endif %}
        </tr>
        <tr><th>Publications / Files</th>
            <td>
            {% for k,j in object.filecounts.items %}
            <img class="small-flag" src="{% static 'locales/{{k}}.png' %}" alt="{{k}}">{{j}}
            {% endfor %}
            </td>
        </tr>
        </tbody>

    </table>{% endwith %}
    </div>
            <div class="col-lg-9 col-sm-9">
                <div id="map">
                </div>
            </div>
    <div class="col-lg-12 col-sm-12">

        {% if object.project_set.all %}

    <h4> {% trans "Activities" %} </h4>

    <div class="like-table">

        <div>
            <div>Project Name
            </div>{% for label_id, label in project_act.labels.items %}
            <div style="max-width:20px; height: 210px;"><span class="vertical">{{label.name}}</span></div> {% endfor %}
        </div>

        {% for pk, item in project_act.data %}
        <form>
            <div>{{item.object}}</div>{% for tf in item.data %}
            <div>{% if tf %} <span style="font-size:150%;">&#10003;</span>{% endif %}</div>{% endfor %}
        </form>{% endfor %}

    </div>


<h4> {% trans "Beneficiaries" %} </h4>

    <div class="like-table">

        <div>
            <div>Project Name
            </div>{% for label_id, label in project_ben.labels.items %}
            <div style="max-width:20px; height: 210px;"><span class="vertical">{{label.name}}</span></div> {% endfor %}
        </div>

        {% for pk, item in project_ben.data %}
        <form>
            <div>{{item.object}}</div>{% for tf in item.data %}
            <div>{% if tf %} <span style="font-size:150%;">&#10003;</span>{% endif %}</div>{% endfor %}
        </form>{% endfor %}



    </div>
<h4> {% trans "Sectors" %} </h4>
    <div class="like-table">

        <div>
            <div>Project Name
            </div>{% for label_id, label in project_inv.labels.items %}
            <div style="max-width:20px; height: 300px;"><span class="vertical">{{label.name}}</span></div> {% endfor %}
        </div>

        {% for pk, item in project_inv.data %}
        <form>
            <div>{{item.object}}</div>{% for tf in item.data %}
            <div>{% if tf %} <span style="font-size:150%;">&#10003;</span>{% endif %}</div>{% endfor %}
        </form>{% endfor %}

    </div>

        {% endif %}

    {% autoescape off %}
    {{organization.description|default:""}}
    {% endautoescape %}

            {% block linkToUpdate %}

     <div class="alert alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 id="oh-snap!-you-got-an-error!">Do you know this organization?<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>
          <p>If you have changes you would like to make, please email the database team.</p>
          <p class="text-danger bg-danger">Click the link below to preview how you can share changes when the site is completed. Note that it is not functional yet.</p>
          <p>

            <a href="update/" class="btn btn-warning">Suggest changes</a>{% if suggestions %}
              <a href="/suggest/?model_name=nhdb_organization&model_pk={{object.pk}}&return_url={%url 'nhdb:organization:detail' pk=object.pk%}" class="btn btn-info">See changes already requested ( {{suggestions|length}} )</a>
            {% endif %}
          </p>
        </div>

{% endblock linkToUpdate %}
    <hr>


    <h4>
{% trans "Projects" %}
</h4>
    <hr>
        {% if not object.project_set.all %}<p class='bg-warning'>No projects.</p> {% endif %}

    {% for status, projects in projectsets.items %}

    <div id="projects_{{status|lower}}">
        <div class="container-fluid"><div class="row">
        {% for project in projects %}
            <div style="min-height: 270px;" class="col col-xl-4 col-lg-6 col-sm-12">
            <h4>{{project}}<span class="small">{{project.status}}</span></h4> {% if project.description %}
            <h5>{{project.description|striptags}}</h5>{% else %}

            <h5><em>{% trans "No project description" %}</em></h5>{% endif %}

            <p><strong>{% trans "Organizations" %}:</strong>{% for o in project.projectorganization_set.all %}
                <a href="{% url 'nhdb:organization:detail' o.organization.pk%}">{% if o.organizationclass == 'P' %}
                    <strong>{{o.organization.name}}</strong>{%else%}{{o.organization.name}}{% endif %}
                </a>{% if not forloop.last %}; {% endif %}{% endfor %}
            </p>

            <a class="btn btn-default btn-xs" href="{% url 'nhdb:project:detail' project.pk%}">More information</a>
            <a class="btn btn-default btn-xs" href="{% url 'nhdb:project:update' project.pk%}">Edit</a>


            <!--Insert an image showing project extent here-->
            <img height="150" width="300" src="{{project.image_overlay_url}}&WIDTH=300&HEIGHT=150">

            </div>
        {% endfor %}
            </div>
            </div>
    </div>
    {% endfor %}
        {% comment %}
        Code for showing publication details : this generates thumbnails for EVERY publication, so is slow for organizations with lots
        Where publications > 5, do 'See all publications' instead
        {% endcomment %}
        <h4>Publications</h4>
        <div id="publications">{% if object.publication_set.count == 0 %}
            <p>Sorry, no publications on record</p>{% else %}
            <div class="row"  style="border:1px solid gray; border-radius: 5px; padding: 5px;">{% for i in object.publication_set.all %}
                <div class="col col-lg-6 col-sm-12">
                <h5>{{i}}</h5>{% for v in i.versions.all %}
        {% if v.title_en %}<p><img class="small-flag" src="{% static 'locales/en.png' %}" alt="en">{{v.title_en}}{{v.description_en|default:""}} {% if v.upload_en %}<a href="{{v.upload_en.url}}">Download</a>{%endif %} {% if v.url_en %}<a href="{{v.url_en}}">Link</a>{%endif %}</p>{% endif %}
        {% if v.title_pt %}<p><img class="small-flag" src="{% static 'locales/pt.png' %}" alt="pt">{{v.title_pt}}{{v.description_pt|default:""}} {% if v.upload_pt %}<a href="{{v.upload_pt.url}}">Download</a>{%endif %} {% if v.url_pt %}<a href="{{v.url_pt}}">Link</a>{% endif %}</p>{% endif %}
        {% if v.title_tet %}<p><img class="small-flag" src="{% static 'locales/tet.png' %}" alt="tet">{{v.title_tet}}{{v.description_tet|default:""}}{% if v.upload_tet %}<a href="{{v.upload_tet.url}}">Download</a>{%endif %} {% if v.url_tet %}<a href="{{v.url_tet}}">Link</a>{% endif %}</p>{% endif %}
        {% if v.title_id %}<p><img class="small-flag" src="{% static 'locales/id.png' %}" alt="id">{{v.title_id}}{{v.description_id|default:""}} {% if v.upload_id %}<a href="{{v.upload_id.url}}">Download</a>{%endif %} {% if v.url_id %}<a href="{{v.url_id}}">Link</a>{% endif %}</p>{% endif %}
                <hr>{% endfor %}
                </div>{% endfor %}
            </div>{% endif %}
        </div>
    </div>
</div>
{% endblock content %}