{% extends "object_list.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load cache %}
{% block title %}{{block.super}} Projects {% endblock title %}

{% block script %}
    {{block.super}}
    <script src="{{ STATIC_URL }}leaflet-place-selector.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.blueimp-gallery.min.js"></script>
    <script src="{{ STATIC_URL }}js/project_list.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-table-master/dist/bootstrap-table.js"></script>
{% endblock script %}

 {% block style %}
    {{block.super}}
    <link href="{{ STATIC_URL }}leaflet/leaflet.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/bootstrap-table-master/dist/bootstrap-table.css">
{% endblock style %}

{% block modals %}
{{block.super}}
<div id="imagemodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Image</h4>
      </div>
      <div class="modal-body">
        <p><img src=""></p>
          <p class="description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/nhdb/projectimage/" class="btn btn-default edit-image">Edit image</a>
      </div>
    </div>
  </div>
</div>

<div id="leafletmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Locations</h4>
            </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="/nhdb/projectimage/" class="btn btn-default edit-image">Edit image</a>
            </div>
        </div>
    </div>
</div>

{% comment %}
This is a special case modal for a suggestion to add a PERSON who does not yet exist to a project.
As this requires two submissions (one to create the person; another to create the link to the project)
some additional javascript code is required
{% endcomment %}

<div id="new-person-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter a new person to the database</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="modal-form-new-person" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock modals %}

{% block tab_first %}{% cache 20 project_dashboard_ %}

<h4>Project Search</h4>
<p><strong>{{object_list.count}} Projects </strong> found with this search</p>

<div class="container-fluid">
    <div class="row">{% for category, tag_count in dashboard.items %}
        <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-3 dashboard-table-container">
            <table class="table table-condensed">
                <caption>{{category}}</caption>
                <tbody>{% for tag, count in tag_count.items %}{% if tag.path in activefilters %}
                    <tr><td><strong>{{tag}}</strong></td> <td><strong>{{count}}</strong></td></tr>{% else %}
                    <tr><td>{{tag}}</td> <td>{{count}}</td></tr>{% endif %}{% endfor %}
                </tbody>
            </table>
         </div>{% endfor %}
    </div>
</div>
{% endcache %}{% endblock %}

{% block tab_second %}
        <a href="table/?{{ request.GET.urlencode }}" class="btn btn-default btn-sm">Show as Table</a>
        <!--<a href="xls/?{{ request.GET.urlencode }}" class="btn btn-default btn-sm">Download Table (Excel)</a>-->

<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
  Download as Excel
</button>
    <button class="btn btn-default btn-sm" type="button" data-autohide="false" data-toggle="offcanvas" data-target="#search-form-container" data-placement="left"><span class="glyphicon glyphicon-edit"></span>Search</button>

    <div id="search-form-container" class="offcanvas navmenu navmenu-default navmenu-fixed-left">
        <button class="btn btn-default btn-block" type="button" data-toggle="offcanvas" data-target="#search-form-container">&laquo;Hide</button>
        <form id="search-form" class="slide-form form-horizontal" >
            <div class="form-group">
                <label for="search-form-activities" class="col-sm-3 control-label">Activities</label>
                <div class="col-sm-9">
                    <select style="width:100%;" id="search-form-activities" class="auto-select2" name="q" multiple=multiple>{% for a in filters.act %}
                        <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="search-form-beneficiaries" class="col-sm-3 control-label">Beneficiaries</label>
                <div class="col-sm-9">
                    <select style="width:100%;" id="search-form-beneficiaries" class="auto-select2" name="q" multiple=multiple>{% for a in filters.ben %}
                        <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="search-form-sectors" class="col-sm-3 control-label">Sectors</label>
                <div class="col-sm-9">
                    <select style="width:100%;" id="search-form-sectors" class="auto-select2" name="q" multiple=multiple>{% for a in filters.inv %}
                        <option value="{{a.path}}" {% if a.path in activefilters %}selected{%endif%}>{{a}}</option> {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="search-form-district" class="col-sm-3 control-label">District</label>
                <div class="col-sm-9">
                    <select style="width:100%;" id="search-form-district" class="auto-select2" name="q" multiple=multiple>{% for a in filters.district %}
                        <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="search-form-status"  class="col-sm-3 control-label">Status</label>
                <div class="col-sm-9">
                    <select style="width:100%;" id="search-form-status" class="auto-select2" name="q" multiple=multiple>{% for a in filters.status %}
                        <option value="{{a.value}}" {% if a.value in activefilters %}selected{%endif%}>{{a.label}}</option> {% endfor %}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="search-form-organization"  class="col-sm-3 control-label">Org(s)</label>
                <div class="col-sm-9">
                    <select style="width:100%" name="org" id="search-form-organization" data-selecturl="/selecttwo/nhdb/organization/name/icontains/" multiple="multiple">
                        {% for i in organization %}
                        <option value="{{i.pk}}" selected>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="search-form-text"  class="col-sm-3 control-label">Text</label>
                <div class="col-sm-9">
                    <input style="width:100%" id="search-form-text" class="form-control" name="text" value="{{text}}">
                </div>
            </div>

            <button class="btn btn-block">Search</button>

        </form>
    </div>

{% render_table table %}


<!-- Modal -->

<div class="modal fade in" id="myModal" tabindex="-1" data-backdrop="static" data-focus-on="input:first" aria-hidden="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Download List</h4>
  </div>
  <div class="modal-body">
      {% trans "Thanks for your interest in downloading this information!" %}
      {% trans "Please tell us how this information could help you." %}
      {% trans "This information isn't used to identify you, but only help us to make our services better." %}
      <a href="xls?{% for n, v in request.GET.items %}{{n}}={{v}}{% if not forloop.last %}&{% endif %}{% endfor %}"  class="btn btn-default btn-sm">I want to skip this and download anyway</a>

      {% crispy excelform %}
      <a href="xls?{% for n, v in request.GET.items %}{{n}}={{v}}{% if not forloop.last %}&{% endif %}{% endfor %}"  data-postForm="#excel-download-form" class="btn btn-sm btn-primary">Download</a>
  </div>
  <div class="modal-footer">

    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
  </div>
</div>


{% endblock %}


