{% extends "base.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>Project</th>
            <th>Date verified</th>
        </tr>
        </thead>
        <tbody>{%  for project in projects %}
            <tr>
                <td style="width:70%;"><a href="{% url 'nhdb:project:list' %}#object={{ project.id }}"> {{ project }}</a></td>
                <td style="width:30%;">{{ project.verified }}</td>
            </tr>{%  endfor  %}
        </tbody>

    </table>
</div>
{%  endblock %}