{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block script %}
      <script src='{% static "require.js" %}' data-main='{% static "selectize_require.js" %}'></script>




{% endblock script %}
 {% block style %} 
    <link href='{% static "django_tables2/themes/paleblu/css/screen.css" %}' rel="stylesheet">
    <link href='{% static "selectize/css/selectize.bootstrap3.css" %}' rel="stylesheet">
    <style>
    ul.pagination {
        border-radius: 0px;
        display: block;
    }
    .datacenter-search-form {
        background-color:#FFD;
        padding:5px;
        border-radius: 5px;
        margin-bottom:10px;
    }
    </style>
{% endblock style %}

{% block resources %}
    <script language="javascript" type="text/javascript" src='{% static "jquery.dataTables.min.js" %}'></script>
{% endblock resources%}

{% block content %}
{{person}}
    {% render_table table %}
{% endblock content %}
