{% if not objects %}

var version = {{db_version}};
var stores = {{dexied}};
var dbname = '{{ db_name }}';
var now = {{ now_js }};
var date = new Date(now);
var src='{% url "nhdb:project:nhdb.database.js" %}'

{% if deletedb %}
Dexie.delete(dbname);
{% endif %}
window.db = new Dexie(dbname);
db.version(version).stores(stores);

{% include 'riot/load_data_function.js' %}

{% else %}
{{ objects }}
{%  endif %}