<library-dashboard>
    <div class="row">
        <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-3" if="{_.size(store.filters) > 0}">
        <div class="alert alert-info">
            <h4>Results have been filtered</h4>
            <table class="table">
                <thead>
                    <tr><th>Filter by</th><th>Where the result is</th></tr>
                </thead>
                <tr each="{key, value in store.filters}">
                    <td class="col col-xs-2">{key} </td>
                    <td class="col col-xs-5">
                        <a href="#"> {store.find(key, value).name}</a> <button class="btn btn-xs" onclick="{store.set_filter.clear}">Clear</button>
                    </td>
                </tr>
            </table>
            <button class="btn btn-info btn-sm" onclick="{store.set_filter.clearAll}">Show all results</button>
        </div>
        </div>
        <div class="col col-sm-6 col-xs-12 col-md-4 col-lg-3 dashboard-table" each="{category, data in store.counts}">
            <table class="table table-condensed">
                <caption>{ category }</caption>
                <tbody>
                <tr>
                    <td>

                        <button type="button" class="btn btn-default {active: sort.category == category && sort.iteratee == 'name'}" onclick="{orderby_name}">
                          <span class="glyphicon glyphicon-sort {glyphicon-sort-by-attributes: sort.category == category && sort.order == 'asc' && sort.iteratee == 'name', glyphicon-sort-by-attributes-alt: sort.category == category && sort.order == 'desc'  && sort.iteratee == 'name'}" aria-hidden="true"></span>Sort by Name
                        </button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-default {active: sort.category == category && sort.iteratee == 'count'}" onclick="{orderby_count}">
                          <span class="glyphicon glyphicon-sort {glyphicon-sort-by-attributes: sort.category == category && sort.order == 'asc'  && sort.iteratee == 'count', glyphicon-sort-by-attributes-alt: sort.category == category && sort.order == 'desc' && sort.iteratee == 'count'}" aria-hidden="true"></span>Sort by Count
                        </button>
                    </td>
                </tr>
                <tr each="{data}">
                    <td onclick="{filter_by_category}">{ name }</td> <td>{ count }</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        library-dashboard .dashboard-table {
            max-height: 550px;
            overflow-y: scroll;
        }

    </style>

    {%  include "tags/library-dashboard.js" %}
</library-dashboard>