<library-publicationtable>

    <div class="row">
        <div class="col col-md-6 col-xs-12">
        <ul class="pagination">
          <li class="{disabled: store.current_page == 1}"><a href="#" onclick="{store.page.first}">&laquo;&laquo;First</a></li>
          <li class="{disabled: store.current_page == 1}"><a href="#" onclick="{store.page.previous}">&laquo;Previous</a></li>
          <li class="{disabled: store.current_page == store.last_page}"><a href="#" onclick="{store.page.next}">&raquo;Next</a></li>
          <li class="{disabled: store.current_page == store.last_page}"><a href="#" onclick="{store.page.last}">&raquo;&raquo;Last</a></li>
        </ul>
        Page {store.current_page} of {store.last_page}

        Sort by:
        <button class="btn btn-xs {active: store.current_sort == 'name'}" onclick="{store.sort.name}">Name <span if="{store.current_sort == 'name' && !store.current_sort_reverse}">&UpArrow;</span><span if="{!(store.current_sort == 'name' && !store.current_sort_reverse)}">&downarrow;</span></button>
        <button class="btn btn-xs {active: store.current_sort == 'year'}" onclick="{store.sort.year}">Year<span if="{store.current_sort == 'year' && !store.current_sort_reverse}">&UpArrow;</span><span if="{!(store.current_sort == 'year' && !store.current_sort_reverse)}">&downarrow;</span></button>

    </div>
    </div>


    <div class="row result" each="{result in store.results}">
        <virtual if="{_.indexOf(expanded, result.id) != -1}">

            <div class="col col-xs-12"  onclick="{toggle_expand_result}"><h4>{result.name}</h4></div>
            <div class="clearfix"></div>

            <div class="col col-xs-12"><loading-spinner if="{result.request.readyState == 1}"></loading-spinner>
                <p if="{result.request.json.description}">{result.request.json.description.en || result.request.json.description.tet  || result.request.json.description.ind  || result.request.json.description.pt }</p>
                <p if="{!result.request.json.description && result.request.readyState == 4}"><em>No description</em></p>

                <div class="btn-group" role="group" aria-label="language" if="{result.request.readyState == 4}">
                  <button type="button" class="btn btn-default btn-xs {disabled:!result.request.json.description.en}">en</button>
                  <button type="button" class="btn btn-default btn-xs {disabled:!result.request.json.description.tet}">tet</button>
                  <button type="button" class="btn btn-default btn-xs {disabled:!result.request.json.description.ind}">id</button>
                  <button type="button" class="btn btn-default btn-xs {disabled:!result.request.json.description.pt}">pt</button>
                </div>

            </div>

            <div class="col col-xs-2"><p>Publication Type</p></div><div class="col col-xs-10"><p>{result.pubtype}</p></div>
            <div class="col col-xs-2"><p>Year</p></div><div class="col col-xs-10"><p>{result.year}</p></div>
            <div class="col col-xs-2"><p>Organizations</p></div><div class="col col-xs-10"><p><span class="tag" each="{organization in result.organization}">{organization.name}</span></p><p if="{result.organization.length == 0}"><em>No organizations</em></p></div>
            <div class="col col-xs-2"><p>Authors</p></div><div class="col col-xs-10"><p><span class="tag" each="{author in result.author}">{author.name}</span></p><p if="{result.author.length == 0}"><em>No authors</em></p></div>
            <div class="col col-xs-2"><p>Sectors</p></div><div class="col col-xs-10"><p><span class="tag" each="{sector in result.sector}">{sector.name}</span></p><p if="{result.sector.length == 0}"><em>No sectors</em></p></div>
            <div class="col col-xs-2"><p>Tags</p></div><div class="col col-xs-10"><p><span class="tag" each="{tag in result.tag}">{tag.name}</span></p><p if="{result.tag.length == 0}"><em>No tags</em></p></div>
            <div class="clearfix"></div>

            <div class="clearfix"></div>

            <div class="col col-xs-2"></div>
                <div class="col col-xs-10">
                    <div class="row">
                        <a each="{version in result.request.json.versions}" href="{version.upload}">
                            <img if="{version.cover}" src="{version.cover}" width="150" height="150">
                        </a>
                    </div>
                </div>
            <div class="clearfix"></div>

            <hr/>
        </virtual>
        <virtual if="{_.indexOf(expanded, result.id) == -1}">
            <div class="col col-xs-12" onclick="{toggle_expand_result}"><h6>{result.name}<span class="small"> {result.pubtype}, {result.year}</span></h6></div><div class="col col-xs-2"></div>
        </virtual>

    </div>



    <style>
        library-publicationtable a[disabled] {
            color: gray;
        }
        library-publicationtable .row.result {
            cursor: pointer;
            border-top: 1px solid gray;
        }
        library-publicationtable .row.result:hover {
            background-color: #f0f0f0;
        }
        library-publicationtable .list {
            background-color: white;
            border: 1px solid gray;
            border-radius: 2px;
            box-shadow: 5px 5px gray;
            margin-top: 10px;
        }
        library-publicationtable span.tag {
            padding-right: 5px;
            padding-left:5px;
            border: 1px solid #F0F0F0;
            border-radius: 2px;
        }
    </style>

    {%  include "tags/library-publicationtable.js" %}

</library-publicationtable>
