commonmark
dateutils
six>=1.2
pandas>=0.14.1
django>=1.9.5
django-ckeditor
django-crispy-forms
django-datatrans
django-debug-toolbar
django-extensions
django-grappelli
django-model-utils
django-modeltranslation
django-pandas
django-rest-swagger
django-reversion
django-tables2
djangorestframework
fuzzywuzzy
gunicorn
httplib2
ipython
jinja2
numpy
pillow
pypdf2
python-dateutil
python-memcached
pytz
pyyaml
qrcode
redis
selenium
setuptools
simplejson
sorl-thumbnail
sphinx
unicodecsv
unidecode
xlsxwriter
xlwt
mysqlclient
psycopg2
wand
ghostscript
uwsgi
